@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'poppins', sans-serif ;
    transition: 1s all ease-in-out;
}

html {
    scroll-behavior: smooth;
} 
 .container {
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    // margin: 20px 20px;

 }
 a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
 }
 ul {
    list-style-type: none;
    // display: flex;
    
 }
