header {
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  height: 70px;
  h1 {
    cursor: pointer;
    &:hover {
      color: map-get($colors, 'white' );
    }
  }
  ul {
    li {
      padding: $base-padding;
      a {
        font-size: 18px;
        color: map-get($colors, secondary);
        &:hover {
          color: map-get($colors, 'white' );
        }
      }
    }
  }
}




// the container start ...
.container {
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
    .left {
      width: 40%;
      h1 {
        font-size: 38px;
      }
      p {
        font-weight: 500;
        text-align: justify;
      }
      button {
        all: unset;
        cursor: pointer;
        background-color: map-get($colors, prymary);
        padding: 10px 20px;
        border-radius: 30px;
        color: map-get($colors, 'white' );
        &:hover {
          background-color: #0aa173;
        }
      }
    }
    .right {
      width: 40%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .part {
    width: 100%;
    margin: 20px 20px;
  }


  .row {
    padding: 50px;
    margin: 20px 20px;
    height: 200px;
    div {
      width: 50%;
      padding: 20px;
      text-align: left;
       i {
        color: map-get($colors, prymary );
        font-size: $font-size-lg * 1.2;
        // @extend .pt-5;
        padding-bottom: $base-padding + 1;
       }
       h2 {
        padding-bottom: $base-padding
       }
    }
  }
.card {
  // display: flex;
  margin: 40px auto;
  // justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: $base-border-radius;
  max-width: 900px;
  img {
    width: 200px;
    border-radius: 10px;
    margin-right: 70px;
  }
  .card-content {
    h2 {
      font-size: 20px;
      font-weight: bold;
    }
    p {
      font-size: 14px;
      font-style: italic;
    }
    .author {
      margin-top: 10px;
      font-weight: bold;
    }
  }
}
.main {
  // align-items: center;
  // display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  max-width: 900px;
  div {
    // border: 1px solid #000;
     padding: 20px ;
    //  margin: 10px;
.chairs {
  // border: 1px solid #000;
  border-radius: 30px 30px 0px 0px;
  padding: 0px;
  width: 100%;
  box-shadow: $base-box-shadow;
   
    img{
      overflow: hidden;
      width: 250px;
      border-radius: 10px 10px 0px 0px;
      height: auto;
    }
}

    .deteals {
      h2 {
        // font-size: 20px;
        padding: 10px;
        color: map-get($colors, secondary );
      }
      ul {
        li {
          padding: 10px;
          color: map-get($colors, secondary );
          i {
            color: map-get($colors ,prymary);
            font-size: 20px;
            padding-right: 10px;
            transition: .1s ease-in-out ;

            &:hover {
              font-size: 24px;
              transition: .3s ease-in-out ;
            }
          }
        }
      }
      .low {
        width: 100%;
        // margin-bottom: 60px;
        padding: 0px;
        // display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        // background-color: #65aa95;
        p {
          color: map-get($colors, secondary);
          margin-right:0px ;
        }
        button {
          all: unset;
          background-color: map-get($colors, prymary );
          padding: 5px 12px;
          cursor: pointer;
          border-radius: 20px;
          color: #fff;
        &:hover {
          background-color: #0aa173;
        }
        }
      }
    }
  }
}
}
footer {
  margin-top: 60px;
  p {
    padding: 10px;
    text-align: center;
    font-weight: 100;
  }
}